/*-------------------------------------------------------------------------
Fonts style    ----------------remove later
---------------------------------------------------------------------------*/
/*
      font-family: 'Lato', sans-serif;
      font-family: 'Dancing Script', cursive;
      font-family: 'Muli', sans-serif;
      font-family: 'Open Sans', sans-serif;
*/


/*-------------------------------------------------------------------------
global styles
---------------------------------------------------------------------------*/


.container {
      position:relative;
  width: 100%;
  padding: 0;
  }

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
      content: "";
      display: table;
      clear: both;
}

/*box sizing*/
*{
	box-sizing: border-box;
}


/*Makes headers disappear*/
h1.hideHeader, h2.hideHeader{
	display: none;
}

/*Remove bullets of all list items*/
ul,ol{
      list-style: none;
}






/*-------------------------------------------------------------------------
Head Section
---------------------------------------------------------------------------*/
.headerSection{
      background: rgba(0,0,0,0.8);
      color:white;
      position: fixed;
      z-index: 1;
      padding: 10px 20px;
}

.logo{
      display: block;
      background: url("../images/adventLogoWhite.png") no-repeat;
      background-size: contain;
      width:160px;
      height:35px;
      text-indent: -999%;
}

#nav{
      display: none;
}


.headerSection #navToggle{
      position: absolute;
      top:10px;
      right:17px;
      font-size: 2em;
}





/*-------------------------------------------------------------------------
Hero Image Section
---------------------------------------------------------------------------*/

.heroImage{
      display: block;
      position: relative;
      /*
      background:url("..images/In-And-Out.jpg") top right no-repeat;
      background-size: cover;
      */
      width:100%;
      height:110vh;
      width:100%;
}


.heroVideoBG{
      display: block;
      position: absolute;
      top: 50%;
      left:50%;
      transform: translate(-50%,-50%);
      min-width: 100%;
      min-height: 100%;
}

.videoOverlay{
      position: absolute;
      background: rgba(0,0,0,0.1);
      top:0;
      bottom:0;
      left:0;
      right:0;
}


.heroImage .banner{
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      text-align: center;
      z-index: 1;
      color: white;
}

.ctaText{
      font-family: 'Dancing Script', cursive;
      font-weight:700;
      font-size: 2.5em;
      margin-bottom: 20px;
}

.ctaButton{
      padding: 10px 35px;
      border: 1px solid white;
      /*border-radius: 5px;*/
      background: none;
      font-family:'Lato', sans-serif;
      font-weight: 700;
      font-style: italic;
      font-size: 1.2em;
}






/*-------------------------------------------------------------------------
Why Us Secion
---------------------------------------------------------------------------*/

.whyUsSection{

}

.whyUsSection h2,.whyUsSection h2{

}

.whyUsBox{
      width:100%;
      float: left;
}

.whyUsHead{
      height: 100px;
      background: white;
      white-space: nowrap;
      position: relative;
}

.whyUsHead h2{
      position: absolute;
      margin: 0;
      margin-top: 30px;
      top:50%;
      left:50%;
      transform: translate(-50%,-50%);
      color: rgba(31, 170, 235, 1);
      font-family: 'Lato', sans-serif;
      font-weight: 900;
      font-style: italic;
      font-size: 1.8em;
      text-transform: uppercase;
}

.whyUsText{
      background: white;
      text-align: center;
}

.whyUsText p {
      padding: 20px 20px;
      margin: 0 auto;
      max-width: 600px;
      text-align: center;
      font-family: 'Open Sans', sans-serif;
      font-weight: 700;
      font-size: 1.2rem;    /*1.5em*/
      line-height: 1.7rem;     /*1.3em*/
      color:#444;
}

.whyUsButton {
      height: 50px;
      background: white;
      position: relative;
      margin-bottom: 80px;
}


.whyUsButton .whyUsBtn {
      display: block;
      padding: 10px 35px;
      margin: 0 auto 30px;
      max-width: 600px;
      /*top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);*/
      border: 1px solid rgba(31, 170, 235, 1);
      background: none;
      color:rgba(31, 170, 235, 1);
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      font-style: italic;
      font-size: 1em;
      line-height: 1em;
}

.whyUsButton br{
      display: none;
}










/*-------------------------------------------------------------------------
what we offer Section
---------------------------------------------------------------------------*/

.featureBox{
      width:50%;
      float: left;
      height:50vw;
}

.featureTitle{
      background: aqua;
}

.feature1{
      background: burlywood;
}

.feature2{
      background: coral;
}

.feature3{
      background: crimson;
}

.feature4{
      background: honeydew;
}

.feature5{
      background: khaki;
}

.feature6{
      background: lightgreen;
}

.feature7{
      background: orchid;
}

.feature8{
      background: plum;
}

.feature9{
      background: salmon;
}

.feature10{
      background: turquoise;
}

.feature11{
      background: tomato;
}















/*-------------------------------------------------------------------------
Testimonial section
---------------------------------------------------------------------------*/

.testimonialSection{
      position:relative;
      background: cadetblue;
      width:100%;
      height:100vw;
      margin-top:172px;
}

h2.testimonialTitle{
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: -70px;
}












/*-------------------------------------------------------------------------
Client Section
---------------------------------------------------------------------------*/

.clientSection{
      position: relative;
      background: springgreen;
      width: 100%;
      height: 50vw;
      margin-top: 172px;
}

h2.clientTitle{
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: -70px;
}















/*-------------------------------------------------------------------------
Social Section
---------------------------------------------------------------------------*/
.socialSection{
      position: relative;
      background: salmon;
      width: 100%;
      height: 50vw;
      margin-top: 172px;
}

h2.socialTitle{
      position: absolute;
      text-align: center;
      left: 50%;
      transform: translateX(-50%);
      top: -70px;
}

.socialContainer{
      display: none;
}

.socialMediaIcons ul li{
      display: inline-block;
      width: 20px;
      height:20px;
      padding: 0 10px;
}

.socialMediaIcons ul li a{
      text-indent: -999%;
}







/*-------------------------------------------------------------------------
Contact Section
---------------------------------------------------------------------------*/

.contactSection{
      position: relative;
      background: orchid;
      width: 100%;
      height: 345px;
      margin-top: 172px;
}



h2.contactTitle{
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: -70px;
}




/*-------------------------------------------------------------------------
Footer Section
---------------------------------------------------------------------------*/


.footerSection{
      background: #333;
      color:white;
}

.footerSection p{
      font-size: 16px;
}

.AboutUs{
      display:none;
}

.siteInfo{
      display: block;
}

.info{
      text-align: center;
      float:left;
      width:100%;
}

.adventLogo{
      padding: 20px
}

.adventLogo a{
      display: block;
      margin: 0 auto;
      background: url("../images/adventLogoWhite.png") no-repeat top center;
      background-size: contain;
      max-width: 300px;
      height:43px;
      text-indent: -999%;
}

.corpHQ{
      text-align: center;
}

.footerCol2{
      text-align: center;
}
.footerCol2, .footerCol1{
      padding: 30px;
}


.info ul{
      padding: 0px;
}

.info li{
      display: inline-block;
      padding:10px;
}

.info li a{
      color: white;
      text-decoration: none;
}

.copyright{
      text-align: center;
      float: left;
      width: 100%;
      padding:10px;
}





/*-------------------------------------------------------------------------
Social Section
---------------------------------------------------------------------------*/














/*-------------------------------------------------------------------------
-------------------------------------------------------------------------
-------------------------------------------------------------------------
-------------------------------------------------------------------------
Tablet Styles Section
---------------------------------------------------------------------------
-------------------------------------------------------------------------
-------------------------------------------------------------------------
-------------------------------------------------------------------------
-------------------------------------------------------------------------*/


@media only screen and (min-width: 700px) {
      /* For tablets: */



/*-------------------------------------------------------------------------
Header Section
---------------------------------------------------------------------------*/




/*-------------------------------------------------------------------------
Hero Image Section
---------------------------------------------------------------------------*/



/*-------------------------------------------------------------------------
Why Us Section
---------------------------------------------------------------------------*/





/*-------------------------------------------------------------------------
What we Offer  Section
---------------------------------------------------------------------------*/

.featureBox{
      width:33.333333333%;
      float: left;
      height:30vw;
}



/*-------------------------------------------------------------------------
 Testimonial Section
---------------------------------------------------------------------------*/

.testimonialSection{
      position:relative;
      background: cadetblue;
      width:100%;
      height:50vw;
      margin-top:172px;
}




/*-------------------------------------------------------------------------
 Client Section
---------------------------------------------------------------------------*/





/*-------------------------------------------------------------------------
 Testimonial Section
---------------------------------------------------------------------------*/






/*-------------------------------------------------------------------------
 Social Section Section
---------------------------------------------------------------------------*/






/*-------------------------------------------------------------------------
 Contact Section
---------------------------------------------------------------------------*/







/*-------------------------------------------------------------------------
 Footer Section
---------------------------------------------------------------------------*/

.adventLogo{

}

.footerCol1{
      width:33.33333333333%;
      float:left;
}

.corpHQ{
      width: 100%;
}

.footerCol2{
      width:33.33333333333%;
      float:left;
      text-align: left;
}





}


/*-------------------------------------------------------------------------
-------------------------------------------------------------------------
-------------------------------------------------------------------------
-------------------------------------------------------------------------
Desktop Styles Section
---------------------------------------------------------------------------
-------------------------------------------------------------------------
-------------------------------------------------------------------------
-------------------------------------------------------------------------
-------------------------------------------------------------------------*/



@media only screen and (min-width: 1000px) {
      /* For tablets: */








/*-------------------------------------------------------------------------
Header Section
---------------------------------------------------------------------------*/

#nav{
      display: block;
      position: absolute;
      top:10px;
      right:17px;
}

#nav a{
      color:white;
      text-decoration: none;
      list-style: none;
}

#nav ul{
      margin: 0px;
}

#nav li{
      display: inline-block;
      padding-right: 30px;
      padding-top: 10px;
}

#nav ul li.searchGlass{
      padding-right: 10px;
}

#navToggle{
      display: none;
}


/*-------------------------------------------------------------------------
Hero Image Section
---------------------------------------------------------------------------*/



/*-------------------------------------------------------------------------
Why Us Section
---------------------------------------------------------------------------*/

.whyUsHead{
      width: 25%;
      height: 25vw;
}

.whyUsText{
      width: 50%;
      height: 25vw;
}

.whyUsText p {
      padding: 50px 20px;
}

.whyUsHead h2 {
      margin: 0;
      font-size: 3.8em;
}

.whyUsButton{
      width: 25%;
      height: 25vw;
      margin-bottom: 0px;
      text-align: center;
}

.whyUsButton .whyUsBtn {
      position: absolute;
      width: 100px;
      height: 100px;
      padding: 0;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      border: 1px solid rgba(31, 170, 235, 1);
      background: none;
      color:rgba(31, 170, 235, 1);
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      font-style: italic;
      font-size: 1.03em;
      line-height: 1.1em;
}

.whyUsButton br{
      display: block;
}







/*-------------------------------------------------------------------------
What we Offer  Section
---------------------------------------------------------------------------*/

.featureBox{
      width:25%;
      float: left;
      height:25vw;
}





/*-------------------------------------------------------------------------
 Testimonial Section
---------------------------------------------------------------------------*/

.testimonialSection{
      position:relative;
      background: cadetblue;
      width:100%;
      height:25vw;
      margin-top:172px;
}





/*-------------------------------------------------------------------------
 Client Section
---------------------------------------------------------------------------*/

.clientSection{
      position: relative;
      background: springgreen;
      width: 100%;
      height: 8.3333333vw;
      margin-top: 172px;
}





/*-------------------------------------------------------------------------
 Social Section Section
---------------------------------------------------------------------------*/

.socialSection{
      width: 100%;
      height: 50vw;
}

.socialContainer{
      display: block;
}



.socialBox{
      width:25%;
      float: left;
      height: 690px;
}

.social1{
      background: teal;
}

.social2{
      background: salmon;
}

.social3{
      background: aquamarine;
}

.social4{
      background: blueviolet;
}


.socialImg1,.socialImg2,.socialImg3,.socialImg4{
      width:100%;
      height:345px;
      border: 0.5px solid #222;
      border-top: 2px solid #222;
      border-bottom: 2px solid #222;

}

.socialMediaIcons{
      display: none;
}

.AboutUs{
      display:block;
}











/*-------------------------------------------------------------------------
 Contact Section
---------------------------------------------------------------------------*/







/*-------------------------------------------------------------------------
 Footer Section
---------------------------------------------------------------------------*/

.adventLogo{

}
.footerCol1{
      width:25%;
      float:left;
}

.corpHQ{
      width:100%;
      float:left;
}

.footerCol2{
      width:25%;
      float:left;
}


.info{
      text-align: left;
      float:left;
      width:50%;
}
.copyright{
      text-align: right;
      float: left;
      width: 50%;
      padding:10px;
}






}
