/*-------------------------------------------------------------------------
Fonts style    ----------------remove later
---------------------------------------------------------------------------*/
/*
      font-family: 'Lato', sans-serif;
      font-family: 'Dancing Script', cursive;
      font-family: 'Muli', sans-serif;
      font-family: 'Open Sans', sans-serif;
*/


/*-------------------------------------------------------------------------
global styles
---------------------------------------------------------------------------*/


.container {
      position:relative;
  width: 100%;
  padding: 0;
  }

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
      content: "";
      display: table;
      clear: both;
}

/*box sizing*/
*{
	box-sizing: border-box;
}


/*Makes headers disappear*/
h1.hideHeader, h2.hideHeader{
	display: none;
}

/*Remove bullets of all list items*/
ul,ol{
      list-style: none;
}






/*-------------------------------------------------------------------------
Head Section
---------------------------------------------------------------------------*/
.headerSection{
      background: #333;
      color:white;
      position: fixed;
      z-index: 1;
}

.headerSection a{
      color:white;
      text-decoration: none;
      list-style: none;
}

#nav{
      display: none;
}

.headerSection #navToggle{
      position: absolute;
      top:0;
      right:0;
}



/*-------------------------------------------------------------------------
Hero Image Section
---------------------------------------------------------------------------*/

.heroImage{
      display: block;
      background:pink;
      height:100vh;
      width:100%;
}








/*-------------------------------------------------------------------------
Why Us Secion
---------------------------------------------------------------------------*/

.whyUsSection{

}

.whyUsSection h2,.whyUsSection h2{

}

.whyUsBox{
      width:100%;
      float: left;
}

.whyUsHead{
      height: 100px;
      background: teal;
}

.whyUsText{
      padding: 20px 20px;
      height:300px;
      background: salmon;
}

.whyUsText p {
      max-width:600px;
      margin: 0 auto 20px;
}

.whyUsButton{
      height: 100px;
      background: plum;
}














/*-------------------------------------------------------------------------
what we offer Section
---------------------------------------------------------------------------*/

.featureBox{
      width:50%;
      float: left;
      height:50vw;
}

.featureTitle{
      background: aqua;
}

.feature1{
      background: burlywood;
}

.feature2{
      background: coral;
}

.feature3{
      background: crimson;
}

.feature4{
      background: honeydew;
}

.feature5{
      background: khaki;
}

.feature6{
      background: lightgreen;
}

.feature7{
      background: orchid;
}

.feature8{
      background: plum;
}

.feature9{
      background: salmon;
}

.feature10{
      background: turquoise;
}

.feature11{
      background: tomato;
}















/*-------------------------------------------------------------------------
Testimonial section
---------------------------------------------------------------------------*/

.testimonialSection{
      position:relative;
      background: cadetblue;
      width:100%;
      height:100vw;
      margin-top:172px;
}

h2.testimonialTitle{
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: -70px;
}












/*-------------------------------------------------------------------------
Client Section
---------------------------------------------------------------------------*/

.clientSection{
      position: relative;
      background: springgreen;
      width: 100%;
      height: 50vw;
      margin-top: 172px;
}

h2.clientTitle{
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: -70px;
}















/*-------------------------------------------------------------------------
Social Section
---------------------------------------------------------------------------*/
.socialSection{
      position: relative;
      background: salmon;
      width: 100%;
      height: 50vw;
      margin-top: 172px;
}

h2.socialTitle{
      position: absolute;
      text-align: center;
      left: 50%;
      transform: translateX(-50%);
      top: -70px;
}

.socialContainer{
      display: none;
}

.socialMediaIcons ul li{
      display: inline-block;
      width: 20px;
      height:20px;
      padding: 0 10px;
}

.socialMediaIcons ul li a{
      text-indent: -999%;
}







/*-------------------------------------------------------------------------
Contact Section
---------------------------------------------------------------------------*/

.contactSection{
      position: relative;
      background: orchid;
      width: 100%;
      height: 345px;
      margin-top: 172px;
}



h2.contactTitle{
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: -70px;
}




/*-------------------------------------------------------------------------
Footer Section
---------------------------------------------------------------------------*/


.footerSection{
      background: #333;
      color:white;
}

.AboutUs{
      display:none;
}

.siteInfo{
      display: block;
}


.info li{
      display: inline-block;
      padding: 0 10px;
}

.copyright{
      text-align:right;
      padding:10px;
}





/*-------------------------------------------------------------------------
Social Section
---------------------------------------------------------------------------*/














/*-------------------------------------------------------------------------
-------------------------------------------------------------------------
-------------------------------------------------------------------------
-------------------------------------------------------------------------
Tablet Styles Section
---------------------------------------------------------------------------
-------------------------------------------------------------------------
-------------------------------------------------------------------------
-------------------------------------------------------------------------
-------------------------------------------------------------------------*/


@media only screen and (min-width: 600px) {
      /* For tablets: */



/*-------------------------------------------------------------------------
Header Section
---------------------------------------------------------------------------*/




/*-------------------------------------------------------------------------
Hero Image Section
---------------------------------------------------------------------------*/



/*-------------------------------------------------------------------------
Why Us Section
---------------------------------------------------------------------------*/





/*-------------------------------------------------------------------------
What we Offer  Section
---------------------------------------------------------------------------*/

.featureBox{
      width:33.333333333%;
      float: left;
      height:30vw;
}



/*-------------------------------------------------------------------------
 Testimonial Section
---------------------------------------------------------------------------*/

.testimonialSection{
      position:relative;
      background: cadetblue;
      width:100%;
      height:50vw;
      margin-top:172px;
}




/*-------------------------------------------------------------------------
 Client Section
---------------------------------------------------------------------------*/





/*-------------------------------------------------------------------------
 Testimonial Section
---------------------------------------------------------------------------*/






/*-------------------------------------------------------------------------
 Social Section Section
---------------------------------------------------------------------------*/






/*-------------------------------------------------------------------------
 Contact Section
---------------------------------------------------------------------------*/







/*-------------------------------------------------------------------------
 Footer Section
---------------------------------------------------------------------------*/

.adventLogo{

}

.footerCol{
      width:33.33333333333%;
      float:left;
}

.corpHQ{


}







}


/*-------------------------------------------------------------------------
-------------------------------------------------------------------------
-------------------------------------------------------------------------
-------------------------------------------------------------------------
Desktop Styles Section
---------------------------------------------------------------------------
-------------------------------------------------------------------------
-------------------------------------------------------------------------
-------------------------------------------------------------------------
-------------------------------------------------------------------------*/



@media only screen and (min-width: 1000px) {
      /* For tablets: */








/*-------------------------------------------------------------------------
Header Section
---------------------------------------------------------------------------*/




/*-------------------------------------------------------------------------
Hero Image Section
---------------------------------------------------------------------------*/



/*-------------------------------------------------------------------------
Why Us Section
---------------------------------------------------------------------------*/

.whyUsHead{
      width: 25%;
      height: 25vw;
}

.whyUsText{
      width: 50%;
      height: 25vw;
}

.whyUsButton{
      width: 25%;
      height: 25vw;
}







/*-------------------------------------------------------------------------
What we Offer  Section
---------------------------------------------------------------------------*/

.featureBox{
      width:25%;
      float: left;
      height:25vw;
}





/*-------------------------------------------------------------------------
 Testimonial Section
---------------------------------------------------------------------------*/

.testimonialSection{
      position:relative;
      background: cadetblue;
      width:100%;
      height:25vw;
      margin-top:172px;
}





/*-------------------------------------------------------------------------
 Client Section
---------------------------------------------------------------------------*/

.clientSection{
      position: relative;
      background: springgreen;
      width: 100%;
      height: 8.3333333vw;
      margin-top: 172px;
}





/*-------------------------------------------------------------------------
 Social Section Section
---------------------------------------------------------------------------*/

.socialSection{
      width: 100%;
      height: 50vw;
}

.socialContainer{
      display: block;
}



.socialBox{
      width:25%;
      float: left;
      height: 690px;
}

.social1{
      background: teal;
}

.social2{
      background: salmon;
}

.social3{
      background: aquamarine;
}

.social4{
      background: blueviolet;
}


.socialImg1,.socialImg2,.socialImg3,.socialImg4{
      width:100%;
      height:345px;
      border: 0.5px solid #222;
      border-top: 2px solid #222;
      border-bottom: 2px solid #222;

}

.socialMediaIcons{
      display: none;
}

.AboutUs{
      display:block;
}











/*-------------------------------------------------------------------------
 Contact Section
---------------------------------------------------------------------------*/







/*-------------------------------------------------------------------------
 Footer Section
---------------------------------------------------------------------------*/

.adventLogo{

}

.footerCol{
      width:25%;
      float:left;
}

.corpHQ{


}









}
