/*-------------------------------------------------------------------------
Fonts style    ----------------remove later
---------------------------------------------------------------------------*/
/*
      font-family: 'Lato', sans-serif;
      font-family: 'Dancing Script', cursive;
      font-family: 'Muli', sans-serif;
      font-family: 'Open Sans', sans-serif;
*/


/*-------------------------------------------------------------------------
global styles
---------------------------------------------------------------------------*/


/* This only works with JavaScript,
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../images/Preloader_1.gif) center no-repeat #fff;
}



.container {
      position:relative;
      width: 100%;
      padding: 0;
  }

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
      content: "";
      display: table;
      clear: both;
}

/*box sizing*/
*{
	box-sizing: border-box;
}


/*Makes headers disappear*/
h1.hideHeader, h2.hideHeader{
	display: none;
}

/*Remove bullets of all list items*/
ul,ol{
      list-style: none;
}








/*-------------------------------------------------------------------------
menu Section
---------------------------------------------------------------------------*/



/* Hide nav handler checkbox */
#navToggle{
  display: none;
}


/* Header */


/* Header menu button */
label#navButton {
      position:fixed;
      top:0;
      right:0;
      padding:18px;
      line-height: 0.6;
      font-size: 2em;
      cursor: pointer;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      z-index: 3;
      color: white;
      background: rgba(31, 170, 235, 0.3);
      /*border: 1px solid rgba(31, 170, 235, 0.3);*/
}

label#navButton:hover{
      color: white;
      background: rgba(31, 170, 235, 1);
}


/* Header active menu button */
#navToggle:checked + label#navButton{
	color: white;
	right:300px;
}

/* Slide out navigation */
#nav {
	position: fixed;
      text-align: center;
	top: 0;
	right: 0;
	width: 300px;
	height: 100%;
	z-index: 1;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-webkit-transition: opacity 0.3s ease-in-out;
	background: #333;
}

/* Active slide out navigation */
#navToggle:checked ~ nav#nav {
      background: #333;
      opacity: 1;
      transition: opacity 0s 0s;
      -moz-transition: opacity 0s 0s;
      -webkit-transition: opacity 0s 0s;
}

/* Slide out navigation list items */
#nav ul li {
	display: block;
	clear: both;
      color: white;
}

#nav ul li a {
	display: block;
	width: 100%;
	height: 100%;
      color: white;
      text-decoration: none;
}



.pageContent {
      background: rgba(240,240,240,1);
	display: block;
	position: relative;
	height: 100%;
	transform: translate3D(0, 0, 0);
	-moz-transform: translate3D(0, 0, 0);
	-webkit-transform: translate3D(0, 0, 0);
	transition: -transform .25s ease-in-out;
	-moztransition: -moz-transform .25s ease-in-out;
	transition: -webkit-transform .25s ease-in-out;
	z-index: 2;
      box-shadow: 2px 2px 19px -1px rgba(0,0,0,0.75);
}

.aboutUs .pageContent, .clients .pageContent,
.coreCompetencies .pageContent,
.industriesAndCategories .pageContent {
      background: white;
}


#navToggle:checked ~ .pageContent {
	transform: translate3D(-300px, 0, 0);  /* X value must be same as Nav width */
	-moz-transform: translate3D(-300px, 0, 0);  /* X value must be same as Nav width */
	-webkit-transform: translate3D(-300px, 0, 0);  /* X value must be same as Nav width */
}

#content-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 75px 0 0 0; /* Top padding must be same as header height*/
	overflow-y: scroll;
	background: #fff;
	z-index: -1;
}



/*menu styling*/

.navList{
      margin-top: 55px;
      padding: 0px;
}

.navList ul{
      padding: 0px;
}

.navList:last-child{
      margin-bottom: 200px;
}

#nav li a{
      text-align: left;
      font-size: 0.9em;
      padding: 17px 0px 20px 17px;
      margin-bottom: 2px;
      border-left: 6px solid cyan;
      background: #444;
}

#nav ul ul li a{
      padding-left: 40px;
      border-left: 6px solid cyan;
}

#nav li a:hover{
      background: #555;
}



































/*-------------------------------------------------------------------------
Head Section
---------------------------------------------------------------------------*/
.headerSection{
      background:rgba(0,0,0,0.8);
      color:white;
      position: fixed;
      z-index: 1;
      padding: 10px 20px;
}

.logo{
      display: block;
      background: url("../images/adventLogoWhite.png") no-repeat;
      background-size: contain;
      width:160px;
      height:35px;
      text-indent: -999%;
}

#navSpread{
      display: none;
}


.headerSection #navBurger{
      display: none;                  /*change this*/
      position: absolute;
      top:10px;
      right:17px;
      font-size: 2em;
}





/*-------------------------------------------------------------------------
Hero Image Section
---------------------------------------------------------------------------*/

.heroImage{
      display: block;
      position: relative;
      background:url("../images/In-And-Out.jpg") center center no-repeat;
      background-size: cover;
      width:100%;
      height:70vh;
      width:100%;
      overflow: hidden;
}




/*-------------------------------------------------------------------------
Intro Section
---------------------------------------------------------------------------*/

.introSection{
      position: relative;
}


.introHeadFloat{
      display: block;
      width:100%;
      height:80px;
      float: left;
      background: none;
      margin-right: 30px;
      margin-bottom: 20px;
      position: relative;
}


.introHead{
      display: block;
      width:100%;
      height:100%;
      position: absolute;
      top: 0px;
	text-align: center;
      padding: 0px 20px;
}

.aboutUs .introHead {
      background: salmon;
}

.clients .introHead {
      background: teal;
}

.csr .introHead {
      background: cadetblue;
}

.news .introHead {
      background: rgba(60,184,120,1);
}

.ourHiringMethodology .introHead {
	background: lightblue;
}

.meetTheTeam .introHead {
	background: pink;
}

.diversityAndInclusion .introHead {
	background: coral;
}

.coreCompetencies .introHead {
	background: orchid;
}

.industriesAndCategories .introHead {
	background: royalblue;
}

.ourBusinessModel .introHead {
	background: springgreen;
}

.whyUs .introHead {
	background: turquoise;
}

.career .introHead {
	background: slateblue;
}

.adventCulture .introHead {
	background: powderblue;
}

.submitResume .introHead {
	background: MediumTurquoise;
}

.lookingForAJob .introHead {
	background: lightcoral;
}

.contactUs .introHead {
	background: indianRed  ;
}

.company .introHead {
	background: oliveDrab ;
}

.ourServices .introHead {
	background: RebeccaPurple;
}





.introHead h2{
      margin: 12px auto;
	display: block;
      color: white;
      font-family: 'Lato', sans-serif;
      font-weight: 900;
      font-style: italic;
      font-size: 2.5em;
      text-align: center;
      text-transform: uppercase;
}

.csr .introHead h2, .ourHiringMethodology .introHead h2,
.meetTheTeam .introHead h2, .diversityAndInclusion .introHead h2,
.coreCompetencies .introHead h2, .industriesAndCategories .introHead h2,
.ourBusinessModel .introHead h2,.adventCulture .introHead h2,
.submitResume .introHead h2, .lookingForAJob .introHead h2,
.ourServices .introHead h2
 {
      font-size: 1.7em;
}

.textHigh{
      display: block;
      position: relative;
      width:100%;
      height:40vw;
      float: right;
      clear: both;
      background: transparent;
      border-left: 5px solid orange;
      margin-left: 30px;
      margin-bottom: 10px;
}

.textHighFloat:before{
      content: '' ;
      display:block;
      float: right;
      height: 500px;
}

.textHigh h5 {
      position: absolute;
      margin: 0;
      padding: 10px 70px 0 20px;
      color: rgba(31, 170, 235, 1);
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      font-style: italic;
      font-size: 6.5vw;
      text-align: left;
}


.introText p {
      margin: 0;
      padding: 20px 20px;
      margin: 0 auto;
      text-align: center;
      text-align: justify;
      font-family: 'Open Sans', sans-serif;
      font-weight: 700;
      font-size: 1.2rem;    /*1.5em*/
      line-height: 1.7rem;     /*1.3em*/
      color:#444;
}






/*-------------------------------------------------------------------------
Submit Resume Form - Submit Resume
---------------------------------------------------------------------------*/

.formSet {
	display: flex;
	flex-direction: row;
}

.formSet h4{
	width:25%;
}

.formSet .inputBox {
	display: flex;
	flex-direction: row;
}

.formSet .inputSet {
	display: flex;
	flex-direction: column-reverse;
}

















/*-------------------------------------------------------------------------
Map Section - Contact Us
---------------------------------------------------------------------------*/


.mapBox {
	position: relative;
	margin: 20px;
}

.mapOverlay{
	display: block;
	position: absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	-webkit-box-shadow: inset 0px 9px 11px -9px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 0px 9px 11px -9px rgba(0,0,0,0.3);
	box-shadow: inset 0px 9px 11px -9px rgba(0,0,0,0.3);
	pointer-events: none;
}















/*-------------------------------------------------------------------------
Our Hiring Method Section - Our Hiring Methodology
---------------------------------------------------------------------------*/

.hiringMethodSection {
	display: flex;
	flex-direction: row;
	padding: 0px;
}

.hiringProgressBar {
	width:30%;
	align-items: stretch;
	background: pink url('../images/news1.jpg') no-repeat;
	background-size: cover;
}

.hiringText {
	right:0px;
	width: 70%;
 	display: flex;
	flex-direction: column;
	border-bottom: 0.5px solid rgba(0, 0, 0, 0.3);
	border-top: 0.5px solid rgba(0, 0, 0, 0.3);
}

.hiringText ul {
	height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0;
	padding: 0;
}

.hiringProcess {
	padding: 10px 30px;
	border-bottom: 0.5px solid rgba(0, 0, 0, 0.3);
}

.hiringProcess:last-child {
	border: none;
}


.hiringProcess h2 {
	margin: 0;
}










/*-------------------------------------------------------------------------
industries And Categories Section - industries And Categories
---------------------------------------------------------------------------*/


.indnCatSection {
	margin-top: 100px;
}

.industrySection, .categorySection {
	display: flex;
	flex-direction: column-reverse;
	margin-bottom: 60px;
	-webkit-box-shadow: inset 0px 9px 11px -9px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 0px 9px 11px -9px rgba(0,0,0,0.3);
	box-shadow: inset 0px 9px 11px -9px rgba(0,0,0,0.3);
	/*border-bottom: 0.5px solid rgba(0, 0, 0, 0.3);*/
	background: rgba(230, 230, 230, 0.5);
}

.industryText, .categoryText{
	width:100%;
}

.industryText ul, .categoryText ul {
	height: 100%;
	padding: 10px;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
}

.industryText ul li, .categoryText ul li {
	padding: 10px;
	margin: 10px;
	border: 0.5px solid rgba(0, 0, 0, 0.3);
	width:100%;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
}

.industryText ul li i, .categoryText ul li i {
	font-size: 2.5em;
}

.industryText ul li h4, .categoryText ul li h4 {
	font-size: 0.8em;
	text-align: center;
}

.indnCatImg {
	width:100%;
	height:60vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.indnCatImg h4 {
	max-width: 80%;
	text-align: center;
	color: white;
      font-family: 'Lato', sans-serif;
      font-weight: 900;
      font-style: italic;
      font-size: 2.5em;
}

.industryImg {
	background: linear-gradient( rgba(0,0,0,0.20), rgba(0,0,0,0.20) ),url('../images/feature11.jpg') top right no-repeat;
	background-size: cover;
}

.categoryImg{
	background: linear-gradient( rgba(0,0,0,0.20), rgba(0,0,0,0.20) ),url('../images/feature12.jpg') top right no-repeat;
	background-size: cover;
}








/*-------------------------------------------------------------------------
Core Competencies  Section - core Competencies
---------------------------------------------------------------------------*/

.competencySection {
	margin-top: 100px;
	display: flex;
	flex-direction: column-reverse;
	/*border-bottom: 0.5px solid rgba(0, 0, 0, 0.3);
	border-top: 0.5px solid rgba(0, 0, 0, 0.3);*/
	-webkit-box-shadow: inset 0px 9px 11px -9px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 0px 9px 11px -9px rgba(0,0,0,0.3);
	box-shadow: inset 0px 9px 11px -9px rgba(0,0,0,0.3);
	background: rgba(230, 230, 230, 0.5);
}

.competencyText {
	width: 100%;
	padding: 40px 5%;
}

.competencyText h2 {
	font-size: 7vw;
	text-align: center;
	margin: 0;
	margin-bottom: 20px;
}

.competencyText ul{
	padding: 0;
}

.competencyText ul li {
	text-align: left;
	margin-left: 20px;
	padding-bottom: 5px;
	list-style:disc;
	font-size: 5vw;
}

.competencyImg {
	width:100%;
	height: 80vw;
	background: linear-gradient( rgba(0,0,0,0.20), rgba(0,0,0,0.20) ),url('../images/feature6.jpg') top right no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}

.competencyImg h4 {
	max-width: 80%;
	text-align: center;
	color: white;
      font-family: 'Lato', sans-serif;
      font-weight: 900;
      font-style: italic;
      font-size: 2.5em;
}



















/*-------------------------------------------------------------------------
News Section - News
---------------------------------------------------------------------------*/


.newsSection {
      margin-top: 100px;
      width: 100%;
      display: flex;
      flex-direction: column-reverse;

}

.newsSidebar {
      width: 100%;
      padding: 0px 20px;
	display: flex;
	flex-direction: column;
}

/*news sidebar styling*/

input.newsSearch {
      width: 100%;
      padding: 20px;
      background: none;
      color: rgba(31, 170, 235, 1);
      border: 2px solid rgba(31, 170, 235, 1);
}

.newsFeatured {
      width: 100%;
      background: white;
      padding: 0px;
      margin-bottom: 50px;
      margin-top: 20px;
      -webkit-box-shadow: -3px 3px 4px 0px rgba(179,179,179,0.89);
      -moz-box-shadow: -3px 3px 4px 0px rgba(179,179,179,0.89);
      box-shadow: -3px 3px 4px 0px rgba(179,179,179,0.89);
}

.newsFeatured li{
      padding: 20px 20px;
      border-bottom: 1px solid rgba(230,230,230,1);
}

.newsFeatured li:last-child {
      border-bottom: none;
}

.newsFeatured li a {
      color: rgba(31, 170, 235, 1);
      text-decoration: none;
}

.news .socialMediaIcons {
	width:100%;
	height:25%;
	display: flex;
      flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.news .socialMediaIcons p {
      margin-right: 0px;
}

.news .socialMediaIcons .mediaBox {
	padding: 0;
	margin: 0;
	margin-bottom: 36px;
	height: auto;
	width: 100%;
      border: 2px solid rgba(31, 170, 235, 1);
	display: flex;
      flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.news .socialMediaIcons .mediaBox li a i{
      color: rgba(31, 170, 235, 1);
}

.news .socialMediaIcons .mediaBox .socialLogo{
	height:53px;
	width:53px;
	display: flex;
      align-items: center;
	justify-content: center;
}


/*news Content styling*/

.newsContent {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-bottom: 50px;
}

.newsBox {
      background: white;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      margin-bottom: 2px;
      -webkit-box-shadow: -3px 3px 4px 0px rgba(179,179,179,0.89);
      -moz-box-shadow: -3px 3px 4px 0px rgba(179,179,179,0.89);
      box-shadow: -3px 3px 4px 0px rgba(179,179,179,0.89);
}

.newsText {
      padding: 10px 20px 10px 20px;
      height: 100%;
      text-align: right;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-around;
}

.newsText h3 {
      font-size: 2.5vw;
      margin-bottom: 0px;
}

.newsText p.date {
      margin:5px;
}

.newsText p.newsPara {
      font-size: 3vw;
      margin: 0px;
}

.newsText p span {
      display: block;
      color: red;
}

.newsImg {
      flex-shrink: 0;
      width:40%;
      height:60vw;
      background: pink;
}

.news1{
      border-left: 5px solid rgba(225,122,36,1);
}

.news2{
      border-left: 5px solid rgba(161,134,190,1);
}

.news3{
      border-left: 5px solid rgba(0,174,239,1);
}

.news4{
      border-left: 5px solid rgba(60,184,120,1);
}

.news1 .newsImg {
      background: url("../images/news1.jpg") center top no-repeat;
      background-size: cover;
}

.news2 .newsImg {
      background: url("../images/news2.jpg") center top no-repeat;
      background-size: cover;
}

.news3 .newsImg {
      background: url("../images/news3.jpg") center top no-repeat;
      background-size: cover;
}

.news4 .newsImg {
      background: url("../images/news4.jpg") center top no-repeat;
      background-size: cover;
}




















/*-------------------------------------------------------------------------
CSR Section - CSR
---------------------------------------------------------------------------*/

.csrGallerySection {
      margin-top: 100px;
      position: relative;
}

h2.csrTitle{
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: -70px;
}

.csrGallery{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
}

.csrImgBox{
      height:50vw;
      width:50%;
      background: purple;
      border: 1px solid grey;
      box-sizing: border-box;
}














/*-------------------------------------------------------------------------
Client and Testimonial Section - clients
---------------------------------------------------------------------------*/

.clientNTestSection{
      display: flex;
      flex-direction: column;
      margin-top: 60px;
}

.clientGridSection{
      width:100%;
      height:100vw;
      background: white;
      padding: 0px;
      /*border-top: 0.5px solid rgba(0, 0, 0, 0.3);
      border-bottom: 0.5px solid rgba(0, 0, 0, 0.3);*/
}

.clientGridBox{
      display: block;
      width:100%;
      height:100%;
      background: rgba(0, 0, 0, 0.03);
      margin:0px;
}

.clientGridBox ul{
      margin:0;
      height:100%;
      padding: 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;;
      align-content: space-between;;
}

.clientGridBox ul li{
      width:22%;
      height:22%;
      background: white;
      border: 0.5px solid rgba(0, 0, 0, 0.3);
      display: flex;
      align-items: center;
      justify-content: center;
}

.clients .testimonialSection{
      position:relative;
      background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5) ), url("../images/testiBG.jpg") center top no-repeat;
      background-size: cover;
      width:100%;
      height:400px;
}

.quoteBox{
      position: absolute;
      top:50%;
      left:50%;
      transform: translate(-50%,-50%);
      width: 80%;
      background: none;
      border: none;
      color: white;
}

.quoteBox p{
      margin: 0 auto;
      text-align: center;
      max-width: 50%;
}

.quoteBox p span{
      display: block;
      text-align: right;
}

.quoteBox .flex-direction-nav{
      display: none;
}



/*changes in flexslider css....ionicons used instead of flexslider icons*/

.quoteBox .flex-direction-nav a:before {
  font-family: "Ionicons";
  font-size: 40px;
  display: inline-block;
  content: '\f361';
  color: white;
  text-shadow: none;
}

.quoteBox .flex-direction-nav a.flex-next:before {
  content: '\f363';
}

.quoteBox .flex-control-paging li a {
  width: 13px;
  height: 13px;
  display: block;
  background: #666;
  background: rgba(255,255,255, 0);
  border: 2px solid rgba(255,255,255,0.9);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.quoteBox .flex-control-paging li a:hover {
  background: #333;
  border: 2px solid rgba(255,255,255,0.7);
  background: rgba(255,255,255, 0.7);
}

.quoteBox .flex-control-paging li a.flex-active {
  background: #000;
  border: 2px solid rgba(255,255,255,1);
  background: rgba(255,255,255, 1);
  cursor: default;
}

/*-------------------------------------------------------------------------*/








.abb {
      background: url("../images/abb.png") center center no-repeat;
      background-size: contain;
      height:70%;
      width:70%;
}

.abbott {
      background: url("../images/abbott.jpg") center center no-repeat;
      background-size: contain;
      height:80%;
      width:80%;
}

.bectonDickson {
      background: url("../images/bectonDickson.png") center center no-repeat;
      background-size: contain;
      height:80%;
      width:80%;
}

.bmw {
      background: url("../images/bmw.png") center center no-repeat;
      background-size: contain;
      height:60%;
      width:60%;
}

.caterpillar {
      background: url("../images/caterpillar.png") center center no-repeat;
      background-size: contain;
      height:80%;
      width:80%;
}

.celgene {
      background: url("../images/celgene.png") center center no-repeat;
      background-size: contain;
      height:70%;
      width:70%;
}

.citizens {
      background: url("../images/citizens.png") center center no-repeat;
      background-size: contain;
      height:80%;
      width:80%;
}

.datalogic {
      background: url("../images/datalogic.jpg") center center no-repeat;
      background-size: contain;
      height:90%;
      width:90%;
}

.henkel {
      background: url("../images/henkel.png") center center no-repeat;
      background-size: contain;
      height:70%;
      width:70%;
}

.humana {
      background: url("../images/humana.jpg") center center no-repeat;
      background-size: contain;
      height:80%;
      width:80%;
}

.mercedes {
      background: url("../images/mercedes.jpg") center center no-repeat;
      background-size: contain;
      height:80%;
      width:80%;
}

.mtbank {
      background: url("../images/mtBank.jpg") center center no-repeat;
      background-size: contain;
      height:80%;
      width:80%;
}

.philips {
      background: url("../images/philips.png") center center no-repeat;
      background-size: contain;
      height:50%;
      width:50%;
}

.ricoh {
      background: url("../images/ricoh.png") center center no-repeat;
      background-size: contain;
      height:80%;
      width:80%;
}

.symantec {
      background: url("../images/symantec.png") center center no-repeat;
      background-size: contain;
      height:80%;
      width:80%;
}

.unisys {
      background: url("../images/unisys.png") center center no-repeat;
      background-size: contain;
      height:80%;
      width:80%;
}










/*-------------------------------------------------------------------------
Also See Section
---------------------------------------------------------------------------*/

.alsoSeeSection{
      margin-top: 172px;
      position: relative;
}

h2.alsoSeeTitle{
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: -70px;
	white-space: nowrap;
}

.linkBox{
      width:50%;
      float: left;
      height:50vw;
      position: relative;
}

.linkBox a{
      position: absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
}

.linkBox a h4{
      margin:0;
      position: absolute;
      text-align: center;
      top:50%;
      left:50%;
      transform: translate(-50%,-50%);
      text-decoration: none;
      color: white;
      font-family: 'Lato', sans-serif;
      font-weight: 900;
      font-size: 1.3rem;
}



.link1{
      background: linear-gradient( rgba(66,165,245,0.75), rgba(66,165,245,0.75) ),url("../images/feature2.jpg") center top no-repeat;
      background-size: cover;
}

.link2{
      background: linear-gradient( rgba(0,191,165,0.75), rgba(0,191,165,0.75) ),url("../images/feature4.png") center top no-repeat;
      background-size: cover;
}

.link3{
      background: linear-gradient( rgba(255,214,0,0.75), rgba(255,214,0,0.75) ),url("../images/feature7.jpeg") center top no-repeat;
      background-size: cover;
}

.link4{
      background: linear-gradient( rgba(242,101,34,0.75), rgba(242,101,34,0.75) ),url("../images/feature8.jpg") center top no-repeat;
      background-size: cover;
}



.linkBox:hover a:before{
      content: "";
      position: absolute;
      top:0;
      left:0;
      height: 100%;
      width:100%;
      background: rgba(0,0,0,0.3);
}







/*-------------------------------------------------------------------------
Contact Section
---------------------------------------------------------------------------*/

.contactSection{
      position: relative;
      background: linear-gradient( rgba(31,170,235, 0.3), rgba(31,170,235, 0.5) ), url("../images/contactBG.jpg") center top no-repeat;;
      background-size: cover;
      width: 100%;
      height: auto;
      margin-top: 172px;
	-webkit-box-shadow: inset 0px 12px 11px -9px rgba(0,0,0,0.7);
	-moz-box-shadow: inset 0px 12px 11px -9px rgba(0,0,0,0.7);
	box-shadow: inset 0px 12px 11px -9px rgba(0,0,0,0.7);
}

h2.contactTitle{
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: -70px;
}

.contactFlex{
	display: flex;
      flex-direction: column;
	height: 100%;
}

.contactFlex p{
	color: white;
}

.contactForm{
	flex-grow: 1;
	display: flex;
      flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	padding: 20px 20px 50px 20px;
	color:white;
}

.contactForm p{
	width:100%;
	margin:5px 1%;
	text-align: center;
}

.inputFlex{
	padding: 10px;
	margin:5px 1%;
	background: none;
	border: 2px solid white;
}

.contactForm input[type=text]{
	width: 98%;
}

.contactForm textarea{
	width:98%;
	resize: none;
	height:80px
}

.contactForm button{
	width:25%;
}

.socialMediaIcons{
	width:100%;
	height:25%;
	display: flex;
      flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.socialMediaIcons p{
	margin:0px;
	margin-bottom:10px;

}

.mediaBox{
	padding: 0;
	margin: 0;
	margin-bottom: 36px;
	height: 80px;
	width: 300px;
	border: 2px solid white;
	display: flex;
      flex-wrap: wrap;
}

.socialLogo{
	height:73px;
	width:73px;
	display: flex;
      align-items: center;
	justify-content: center;
}

.socialLogo a i{
	font-size: 2em;
	color: white;
}











/*styling of placeholder text*/
::-webkit-input-placeholder {
   color: white;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;
}

:-ms-input-placeholder {
   color: white;
}

/*-----------------------------------------*/




/*-------------------------------------------------------------------------
Footer Section
---------------------------------------------------------------------------*/


.footerSection{
      background: #333;
      color:white;
}

.footerSection p{
      font-size: 16px;
}

.AboutUs{
      display:none;
}

.siteInfo{
      display: block;
}

.info{
      text-align: center;
      float:left;
      width:100%;
}

.adventLogo{
      padding: 20px
}

.adventLogo a{
      display: block;
      margin: 0 auto;
      background: url("../images/adventLogoWhite.png") no-repeat top center;
      background-size: contain;
      max-width: 300px;
      height:43px;
      text-indent: -999%;
}

.corpHQ{
      text-align: center;
}

.footerCol2{
      text-align: center;
}
.footerCol2, .footerCol1{
      padding: 30px;
}


.info ul{
      padding: 0px;
}

.info li{
      display: inline-block;
      padding:10px;
}

.info li a{
      color: white;
      text-decoration: none;
}

.copyright{
      text-align: center;
      float: left;
      width: 100%;
      padding:10px;
}
























/*-------------------------------------------------------------------------
Scroll to top Section
---------------------------------------------------------------------------*/





.scrollToTop{
	width:60px;
	height:60px;
	padding:10px;
	text-align:center;
	background: rgba(255, 255, 255, 0.1);
      font-size: 2em;
	font-weight: bold;
	color: rgba(31, 170, 235, 1);
	text-decoration: none;
	position:fixed;
	bottom:40px;
	right:0px;
	display:none;
      z-index: 200;
	}

.scrollToTop:hover{
      background: rgba(31, 170, 235, 1);
      color: white;
	text-decoration:none;
}






/*-------------------------------------------------------------------------
Social Section
---------------------------------------------------------------------------*/















/*-------------------------------------------------------------------------
-------------------------------------------------------------------------
-------------------------------------------------------------------------
-------------------------------------------------------------------------
Tablet Styles Section
---------------------------------------------------------------------------
-------------------------------------------------------------------------
-------------------------------------------------------------------------
-------------------------------------------------------------------------
-------------------------------------------------------------------------*/


@media only screen and (min-width: 700px) {
      /* For tablets: */



/*-------------------------------------------------------------------------
Header Section
---------------------------------------------------------------------------*/




/*-------------------------------------------------------------------------
Hero Image Section
---------------------------------------------------------------------------*/



/*-------------------------------------------------------------------------
Intro Section
---------------------------------------------------------------------------*/

.textHigh {
      width:50%;
      height:30vw;
}

.textHigh h5 {
      font-size: 4.0vw;
}





/*-------------------------------------------------------------------------
Map Section - Contact Us
---------------------------------------------------------------------------*/





















/*-------------------------------------------------------------------------
Our Hiring Method Section - Our Hiring Methodology
---------------------------------------------------------------------------*/


.hiringProcess {
	padding: 20px 30px;
}














/*-------------------------------------------------------------------------
industries And Categories Section - industries And Categories
---------------------------------------------------------------------------*/

.industrySection {
	flex-direction:row;
}

.categorySection {
	flex-direction: row-reverse;
}

.industryText, .categoryText{
	width:60%;
	height: 80vw;
}

.industryText ul li, .categoryText ul li {
	padding: 5px;
	margin: 5px;
	flex-direction: column;
	width: 30%;
	height: 23%;
}

.industryText ul li i, .categoryText ul li i {
	font-size: 3.5em;
}

.indnCatImg {
	width:40%;
	height:80vw;
}







/*-------------------------------------------------------------------------
Core Competencies  Section - core Competencies
---------------------------------------------------------------------------*/

.competencySection{
	flex-direction: row;
}

.competencyText {
	width: 60%;
}

.competencyText h2 {
	font-size: 4vw;
}

.competencyText ul li {
	font-size: 2.7vw;
	padding-bottom: 10px;
}

.competencyImg {
	width:40%;
	height: auto;
}





/*-------------------------------------------------------------------------
News Section
---------------------------------------------------------------------------*/




.newsContent {
      width:100%;
      display: flex;
      flex-direction: column;
}

.newsText {
      padding: 10px 20px 10px 60px;
}

.newsText p.newsPara {
      font-size: 2.5vw;
}


.newsImg {
	width:33.3333333333%;
	height:33.3333333333vw;
}



/*-------------------------------------------------------------------------
CSR Section - CSR
---------------------------------------------------------------------------*/


.csrImgBox{
      height:33.3333333vw;
      width:33.333333333333%;
}











/*-------------------------------------------------------------------------
Client and Testimonial Section - clients
---------------------------------------------------------------------------*/



.quoteBox .flex-direction-nav{
      display: block;
}








/*-------------------------------------------------------------------------
Also see section Section
---------------------------------------------------------------------------*/


.linkBox{
      width:25%;
      height:25vw;
}





/*-------------------------------------------------------------------------
 Testimonial Section
---------------------------------------------------------------------------*/





/*-------------------------------------------------------------------------
 Client Section
---------------------------------------------------------------------------*/




/*-------------------------------------------------------------------------
 Testimonial Section
---------------------------------------------------------------------------*/






/*-------------------------------------------------------------------------
 Social Section Section
---------------------------------------------------------------------------*/






/*-------------------------------------------------------------------------
 Contact Section
---------------------------------------------------------------------------*/







/*-------------------------------------------------------------------------
 Footer Section
---------------------------------------------------------------------------*/


.footerCol1{
      width:33.33333333333%;
      float:left;
}

.corpHQ{
      width: 100%;
}

.footerCol2{
      width:33.33333333333%;
      float:left;
      text-align: left;
}





}


/*-------------------------------------------------------------------------
-------------------------------------------------------------------------
-------------------------------------------------------------------------
-------------------------------------------------------------------------
Desktop Styles Section
---------------------------------------------------------------------------
-------------------------------------------------------------------------
-------------------------------------------------------------------------
-------------------------------------------------------------------------
-------------------------------------------------------------------------*/



@media only screen and (min-width: 1000px) {
      /* For tablets: */








/*-------------------------------------------------------------------------
Header Section
---------------------------------------------------------------------------*/

#navSpread{
      display: none;    /*change this*/
      position: absolute;
      top:10px;
      right:17px;
}

#navSpread a{
      color:white;
      text-decoration: none;
      list-style: none;
}

#navSpread ul{
      margin: 0px;
}

#navSpread li{
      display: inline-block;
      padding-right: 30px;
      padding-top: 10px;
}

#navSpread ul li.searchGlass{
      padding-right: 10px;
}

#navBurger{
      display: none;
}


/*-------------------------------------------------------------------------
Hero Image Section
---------------------------------------------------------------------------*/



/*-------------------------------------------------------------------------
Intro Section
---------------------------------------------------------------------------*/




.introHeadFloat{
      width:25%;
      height:25vw;
}

.introSection .introHead{
      top: -150px;
}



.introHead h2{
      position: absolute;
      margin: 0;
      top:50%;
      left:50%;
      transform: translate(-50%,-50%);
      font-size: 3.5em;
      text-align: right;
}

.csr .introHead h2, .ourHiringMethodology .introHead h2,
.meetTheTeam .introHead h2, .diversityAndInclusion .introHead h2,
.coreCompetencies .introHead h2, .industriesAndCategories .introHead h2,
.ourBusinessModel .introHead h2, .adventCulture .introHead h2,
.submitResume .introHead h2, .lookingForAJob .introHead h2,
.ourServices .introHead h2 {
      font-size: 2.8vw;
}

.textHigh{
      width:25%;
      height:25vw;
}

.textHigh h5{
      padding: 20px 70px 0 20px;
      font-size: 2.4vw;
}

.introText p{
      padding: 60px 180px;
}





/*-------------------------------------------------------------------------
Map Section - Contact Us
---------------------------------------------------------------------------*/




















/*-------------------------------------------------------------------------
Our Hiring Method Section - Our Hiring Methodology
---------------------------------------------------------------------------*/

.hiringMethodSection {
	padding:0px 180px;
}


.hiringProgressBar {
	width:20%;
}


.hiringText {
	width: 80%;
}















/*-------------------------------------------------------------------------
industries And Categories Section - industries And Categories
---------------------------------------------------------------------------*/



.industryText, .categoryText{
	width:60%;
	height: 40vw;
}

.industryText ul li, .categoryText ul li {
	flex-direction: column;
	width: 12vw;
	height: 12vw;
}

.indnCatImg {
	width:40%;
	height:40vw;
}













/*-------------------------------------------------------------------------
Core Competencies  Section - core Competencies
---------------------------------------------------------------------------*/



.competencyText h2 {
	font-size: 2vw;
}

.competencyText ul li {
	font-size: 1.7vw;
	padding-bottom: 10px;
}








/*-------------------------------------------------------------------------
NEWS Section - CSR
---------------------------------------------------------------------------*/

.newsSection {
      flex-direction: row;
}

.newsSidebar {
	width:25%;
	flex-direction: column;
}


.news .socialMediaIcons {
	display: flex;
      flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
}

.newsContent {
      width:75%;
}

.newsText p.newsPara {
      font-size: 1.5vw;
}

.newsImg {
	height:25vw;
}


/*-------------------------------------------------------------------------
CSR Section - CSR
---------------------------------------------------------------------------*/


.csrImgBox {
      height:25vw;
      width:25%;
}















/*-------------------------------------------------------------------------
Client and Testimonial Section - clients
---------------------------------------------------------------------------*/


.clientNTestSection{
      flex-direction: row;
}

.clientGridSection{
      width:50%;
      height:50vw;
}


.clients .testimonialSection{
      width:50%;
      height:50vw;
}




/*-------------------------------------------------------------------------
Also See Section
---------------------------------------------------------------------------*/





h2.alsoSeeTitle{
      white-space: normal;
}

.linkBox{
      width:25%;
      height:25vw;
}

.linkBox a h4{
      font-size: 1.9rem;
}







/*-------------------------------------------------------------------------
 Testimonial Section
---------------------------------------------------------------------------*/







/*-------------------------------------------------------------------------
 Client Section
---------------------------------------------------------------------------*/





/*-------------------------------------------------------------------------
 Social Section Section
---------------------------------------------------------------------------*/















/*-------------------------------------------------------------------------
 Contact Section
---------------------------------------------------------------------------*/




.contactSection{
      height: 360px;
}

.contactFlex{
      flex-direction: row;
}

.contactForm{
	padding: 20px 20px 20px 80px;
}

.contactForm p{
	margin:5px 1%;
      text-align: left;
}

.contactForm input[type=text]{
	width: 48%;
}

.contactForm button {
	width: 15%;
}

.socialMediaIcons {
	width:25%;
	height:100%;
}

.socialMediaIcons p {
	margin-right: 40px;
}

.mediaBox {
	margin-right: 40px;
	height: 150px;
	width: 150px;
}




/*-------------------------------------------------------------------------
 Footer Section
---------------------------------------------------------------------------*/

.footerCol1 {
      width:25%;
      float:left;
}

.corpHQ {
      width:100%;
      float:left;
}

.footerCol2 {
      width:25%;
      float:left;
}

.info {
      text-align: left;
      float:left;
      width:50%;
}
.copyright {
      text-align: right;
      float: left;
      width: 50%;
      padding: 10px;
}

.AboutUs {
      display: block;
}

























}
